* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.page-wrapper {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-wrapper {
  background-color: #fafafa;
}

.burger-btn {
  width: 25px;
  height: 25px;
  display: none;
}

.burger-btn img {
  width: 25px;
  height: 25px;
}

.header-inner a {
  text-decoration: none;
  color: black;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.header-inner nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

.logo a {
  font-size: 2rem;
  font-weight: 600;
}

.header-inner button {
  all: unset;
  padding: 1rem 1.5rem;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.header-inner button:hover {
  background-color: rgb(43, 42, 42);
}

.hero {
  background-image: url(./images/Achromatic-hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.hero-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
  color: white;
  padding: 2rem;
  gap: 2rem;
}

.services {
  background-color: #000000;
  color: white;
}

.services-inner h2 {
  padding-left: 2rem;
}

.services-inner hr {
  max-width: 60%;
  margin: 2rem;
}

.services-inner a {
  text-decoration: none;
  color: white;
  margin: 2rem;
}

.services-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.services-inner button {
  all: unset;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  font-weight: 600;
  margin-left: 2rem;
  cursor: pointer;
}

.services-inner button:hover {
  background-color: rgb(177, 170, 170);
}

.services-inner img {
  width: 80%;
}

.booking {
  background-color: #fafafa;
}

.booking-inner img {
  max-width: 100%;
  max-height: 80%;
}

.booking-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  gap: 2rem;
}

.booking-inner img:first-child {
  align-self: end;
}

.booking-inner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.booking-inner div button {
  all: unset;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.booking-inner div button:hover {
  background-color: rgb(43, 42, 42);
}

.footer-wrapper {
  background-color: black;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.footer-inner h2 {
  all: unset;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.footer-inner a {
  width: 30px;
  height: 30px;
}

.footer-inner img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .header-inner nav {
    display: none;
  }

  .header-inner button {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  .logo a {
    font-size: 1rem;
    font-weight: 600;
  }

  .hero-info p:nth-child(2) {
    display: none;
  }

  .services-inner {
    grid-template-columns: 1fr;
  }

  .section-wrapper hr {
    max-width: 100%;
  }

  .booking-inner {
    grid-template-columns: auto;
    gap: 1rem;
  }

  .booking-inner img:first-child {
    order: 3;
    max-width: 100%;
    max-height: 100%;
    padding-top: 2rem;
  }

  .booking-inner div {
    order: 2;
    padding-top: 0;
  }

  .booking-inner img:last-child {
    order: 1;
    max-width: 100%;
    max-height: 100%;
  }

  .footer-inner h2 {
    font-size: 1rem;
  }
}
